@model Placement.Models.Student

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Native_place" class="control-label"></label>
                <input asp-for="Native_place" class="form-control" />
                <span asp-validation-for="Native_place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reg_no" class="control-label"></label>
                <input asp-for="Reg_no" class="form-control" />
                <span asp-validation-for="Reg_no" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile_No" class="control-label"></label>
                <input asp-for="Mobile_No" class="form-control" />
                <span asp-validation-for="Mobile_No" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentEmail" class="control-label"></label>
                <input asp-for="StudentEmail" class="form-control" />
                <span asp-validation-for="StudentEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SSLC" class="control-label"></label>
                <input asp-for="SSLC" class="form-control" />
                <span asp-validation-for="SSLC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XII" class="control-label"></label>
                <input asp-for="XII" class="form-control" />
                <span asp-validation-for="XII" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diploma" class="control-label"></label>
                <input asp-for="Diploma" class="form-control" />
                <span asp-validation-for="Diploma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HOA" class="control-label"></label>
                <input asp-for="HOA" class="form-control" />
                <span asp-validation-for="HOA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SA" class="control-label"></label>
                <input asp-for="SA" class="form-control" />
                <span asp-validation-for="SA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CGPA" class="control-label"></label>
                <input asp-for="CGPA" class="form-control" />
                <span asp-validation-for="CGPA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AOI" class="control-label"></label>
                <input asp-for="AOI" class="form-control" />
                <span asp-validation-for="AOI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassWord" class="control-label"></label>
                <input asp-for="PassWord" type = "password" class="form-control" />
                <span asp-validation-for="PassWord" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="CPassWord" class="control-label"></label>
                <input asp-for="CPassWord" type = "password" class="form-control" />
                <span asp-validation-for="CPassWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
