@using Microsoft.AspNetCore.Http
@model Placement.Models.Admin
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "ARegister";
    Layout = "Common";
}
<body style=" background-color:bisque">

@{
    ViewBag.FacultyId = @HttpContextAccessor.HttpContext.Session.GetInt32("FacultyId");
}
@if (ViewBag.FacultyId != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Thanks for Registration!</strong> 
        <a id="manage" class="nav-link text-dark" asp-controller="Home" asp-action="Privacy" title="Manage">Hai your Login ID is @ViewBag.FacultyId!</a>
        @*<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>*@
    </div>
    <a class=" btn btn-primary" style="text-align:center" asp-controller="Login" asp-action="ALogin">Login Page</a>
}

<div class="row row d-flex aligns-items-center justify-content-center">
    <div class="col-md-10 card p-3 px-5 py-5 mt-3 bg-light">

        <h1 style = text-align:center> Admin Registration </h1>
   
        <form asp-action="ARegister" class="row g-6" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-12">
                <label asp-for="FacultyName" class="control-label"></label>
                <input asp-for="FacultyName" class="form-control" />
                <span asp-validation-for="FacultyName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Department" class="form-label"></label>
                <select asp-for="Department" class="form-select">
                    <option selected>  </option>
                    <option> EEE </option>
                    <option> ECE </option>
                    <option> CSE </option>
                    <option> MECH </option>
                    <option> CIVIL </option>
                </select>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Grade" class="form-label"></label>
                <select asp-for="Grade" class="form-select">
                 <option selected>  </option>
                    <option> Head Of Department </option>
                    <option> Placement Co-Ordinator </option>
                    <option> Faculty Advisor </option>
                    <option> Department Placement Faculty </option>
                </select>
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="PassWord" class="control-label"></label>
                <input asp-for="PassWord" type = "password" class="form-control" />
                <span asp-validation-for="PassWord" class="text-danger"></span>
            </div>
             <div class="col-md-6">
                <label asp-for="CPassWord" class="control-label"></label>
                <input asp-for="CPassWord" type = "password" class="form-control" />
                <span asp-validation-for="CPassWord" class="text-danger"></span>
            </div>
            <p>

            </p>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
